<div class="row">
  <div class="col-md-12">
<!-- <%= form_tag print_jobs_path %> -->
      <%= render "print" %>
      <table class="table table-striped" >
        <thead>
          <th>Print Label</th>
          <th>Id</th>
          <th>Sample Name</th>
          <th>Action</th>
          <th>State</th>
          <th>Next Step</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </thead>
        <tbody>
          <% work_orders.each do |work_order| %>
            <tr id="<%= dom_id(work_order) %>">
              <td><%= check_box_tag 'work_order_ids[]', work_order.id%></td>
              <td><%= work_order.id %></td>
              <td><%= work_order.name %></td>
              <td><%= work_order.action %></td>
              <td><%= work_order.aliquot_state %></td>
              <td>
                <%if work_order.aliquot_next_state.present?%>
                  <%unless pipeline.flexible%>
                    <%= link_to work_order.aliquot_next_state, link_to_next_lab_event_creation(pipeline, work_order) %>
                  <%else%>
                    <%= form_tag(link_to_next_lab_event_creation(pipeline, work_order), method: :get, class: "form-inline") do %>
                      <%= select_tag(:process_step_name, options_from_collection_for_select(pipeline.process_steps, 'name', 'name', work_order.aliquot_next_state), class: "custom-select mb-2 mr-sm-2 mb-sm-0") %> </td>
                      <td> <%= submit_tag "Start", class: "btn btn-primary" %>
                    <% end %>
                  <%end%>
                <%end%>
              </td>
              <td><%= link_to 'Show', pipeline_work_order_path(pipeline, work_order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <!-- <%%> -->
  </div>
</div>
